<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App ID</key>
	<string>6792131420</string>
	<key>Annual Product</key>
	<string>premium.annual</string>
	<key>Monthly Product</key>
	<string>premium.monthly</string>
	<key>Developer Link</key>
	<string>https://ge-developer.tilda.ws</string>
	<key>Terms of Use</key>
	<string></string>
	<key>Supabase Anon Key</key>
	<string>sb_publishable_gFZhb1fvMsZBbFCzRC1LaQ_aL2Rju77</string>
	<key>Supabase Project URL</key>
	<string>https://iyajmndpyqmkgxbfjboc.supabase.co</string>
	<key>Privacy Policy</key>
	<string></string>
</dict>
</plist>
